[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ratingtables"]
	path = ratingtables
	url = https://github.com/gs-actuary/ratingtables
